log advisory on every 1 seconds {
proc.psinfo.utime
proc.psinfo.stime
proc.psinfo.cmd
proc.psinfo.rss
json.hot_utime.metrics.proc_psinfo_cmd
json.hot_utime.metrics.proc_psinfo_utime
json.hot_stime.metrics.proc_psinfo_cmd
json.hot_stime.metrics.proc_psinfo_stime
json.hot_rss.metrics.proc_psinfo_rss
json.hot_rss.metrics.proc_psinfo_cmd
}
